body{
    width: 1475px;
    height: 738px;
    background-image: url('https://cdn.wallpapersafari.com/76/67/HsdRS0.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-attachment: fixed;
    background-image: linear-gradient(#e6d1ff, rgb(95, 95, 255)); */
    color: rgb(255, 255, 255);
    font-family: Times New Roman, Times, serif;
}

.cabeçalho{
    color: rgb(125, 125, 255);
    font-size: 65px;
    height: 75px;
    width: 377px; /* Header Width */
    padding: 40px; /* Spacing between Box and Text */
    /* border: 0px solid black;  /  Edge Thickness */
    /* margin: 30px;  /  Spacing between the Box and the edge of the Page */
    text-align: left;
}

.text{
    padding: 50px; /* Spacing between Box and Text */
    padding-bottom: 30px;
    border: 3px solid rgb(125, 125, 255);
    border-radius: 30px;
    width: 857px; /* To fit the width of text to the box */
    margin-left: 256px;
    margin-right: 256px;
    margin-top: 61.2px;
    margin-bottom: 246.2px;
    font-size: large;
}

.socials{
    /* Spacing between Box and Text */
    border: 0px solid black;
    /* Spacing between the Box and the edge of the Page */
    text-align: center;
}

.button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgb(125, 125, 255);
}
.button:hover{
    background-color: rgb(135, 135, 255);
    transition: 0.2s;
}
.button:active{
    background-color: aliceblue;
}